.vs/
*.vcxproj.user
*.suo
*.user
*.userosscache
*.sln.docstates
x64/
x86/
Debug/
Release/
[Bb]in/
[Oo]bj/
ipch/
*.aps
*.ncb
*.opendb
*.cachefile
*.log
*.tlog
*.tmp
*.pdb
*.idb
*.exe
*.dll
*.lib
*.exp
*.manifest

CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
